#screen {
  background-color: grey;
  max-width: 400px;
  height: 150px;
  padding: 10px 20px;
  text-align: right;
}

#input-screen,
#formula-screen {
  background-color: grey;
  width: 400px;
  height: 75px;
  text-align: right;
  font-size: 50px;
}
h1 {
  font-size: 80px;
}

body {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.number,
.action {
  display: flex;
  height: 110px;
  width: 110px;
  font-size: 50px;
  background-color: #333333;
  color: white;
  align-items: center;
  justify-content: center;
}

#clear,
#negative,
#percentage {
  background-color: #a5a5a5;
}

.action {
  background-color: #fe9500;
}

#zero {
  width: 220px;
}

.row {
  display: flex;
}

#buttons {
  display: flex;
  flex-direction: row;
}
